/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
	clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
	 background: #FFFFFF;
     display: inline-block;
     font-size: 12px;
     font-weight: bold;
     margin: 2px;
     padding: 8px 10px;
     border-radius: 3px;
     -moz-border-radius: 3px;
     -webkit-border-radius: 3px;
     transition: color .2s, background .2s;
     transition-delay: 0s;
     transition-timing-function: linear;
     -moz-transition: color .2s, background .2s;
     -moz-transition-delay: 0s;
     -moz-transition-timing-function: linear;
     -webkit-transition: color .2s, background .2s;
     -webkit-transition-delay: 0s;
     -webkit-transition-timing-function: linear;}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #000;
}

.wp-pagenavi span.current {
	background: #2AA5F2;
    color: #fff;
}
